%header
  %h1= 'Builds'
  = link_to 'Upload a Build', new_build_url

.builds
  - @builds.each do |build| 
    %a{ href: build.build_url(request.base_url) }
      .build
        .title=build.title
        .description=build.description
        .created-at
          - timestamp = time_ago_in_words(build.created_at)
          = surround 'created ', ' ago' do
            = timestamp

= will_paginate @builds
