= render 'shared/header', title: 'Builds'

.builds
  - @builds.each do |build| 
    %a{ href: build_url(build.slug) }
      .build
        = image_tag "#{build.type}-icon.png"
        .title=build.title
        .description=build.description
        .created-at
          - timestamp = time_ago_in_words(build.created_at)
          = surround 'created ', ' ago' do
            = timestamp
        = link_to 'Install', build.build_url(request.base_url), { class: 'install'}

= will_paginate @builds
